.side-bar
  .side-bar__header
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class: "top-items__icons__btn--edit" do
          %i.far.fa-edit
        = link_to edit_user_path(current_user), class: "top-items__icons__btn--cog" do
          %i.fas.fa-cog
  .side-bar__groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__messages
            = group.show_last_message

